body {
    background: url(../img/ac.jpg);
    margin: 3em;
}

.a, .c, .d, .e, .g, .h, .i, .j, .k {
    background-color: black;   
}

.a, .b1, .c, .d, .f1, .e, .g, .h, .i, .j, .k {
    margin: 1em;
}

.a, .a1, .b1, .c, .d, .d1, .e, .f1, .g, .h, .i, .j, .k, .l1 {
    width: 16em;
    height: 16em;
}

.a1, .b1, .c1, .d1, .e1, .f1, .g1, .h1, .i1, .j1, .k1, .l1 {
    border: 3px solid black;
}

.a1 {
    background: url(../img/back_mantel.jpg);
}

.b1, .d1, .f1, .g1, .h1 {
    align-items: center;
    display: flex;
    justify-content: center;

}

.b2, .d2, .f2 {
    width: 12em;
    height: 12em;
}

.b2 {
    background: url(../img/back_mantel.jpg);
    padding: 0;
    margin: 0;
}

.c1 {
    background: url(../img/back_mantel.jpg);
    background-size: 260px;
    width: 16em;
    height: 16em;
}

.d1 {
    background-color: white;
}

.d2 {
    background: url(../img/back_mantel.jpg);
    background-size: 200px;
}

.e1 {
    background: url(../img/dh.jpg);
    height: 16em;
    width: 16em;
}

.first, .second, .third {
    display: flex;
    justify-content: space-between;
}

.f1 {
    background-color: white;
}

.f2 {
    background: url(../img/dh.jpg);
    background-size: 195px;
    padding: 0;
    margin: 0;
}

.g1 {
    background-color: white;
    width: 16em;
    height: 16em;
}

.g2 {
    background: url(../img/dh_2.jpg);
    background-size: 260px;
    background-repeat: no-repeat;
    width: 16em;
    height: 10em;
    
}

.h1 {
    background-color: white;
    width: 16em;
    height: 16em;
}

.h2 {
    background: url(../img/dh_3.jpg);
    background-size: 135px;
    background-repeat: no-repeat;
    width: 16em;
    height: 16em;
    margin-left: 4em;
}

.i1 {
    height: 16em;
    width: 16em;
    background: linear-gradient(to right, rgb(210, 244, 118), rgb(84, 158, 51));

}

.j1 {
    height: 16em;
    width: 16em;
    background: linear-gradient(rgb(250, 170, 170), rgb(164, 55, 25), rgb(197, 69, 34));
}

.k1 {
    height: 16em;
    width: 16em;
    background: linear-gradient(rgb(212, 255, 126), rgb(31, 130, 67));
}

.l1 {
    height: 16em;
    width: 16em;
    background: linear-gradient(transparent 5%, rgb(2, 80, 4));
}